:root {
  --white: #f5f5f5;
  --black: #1D1D1D;
  --grey: #a6a6a6;
  --rt-1: #4db3ff;
  --rt-2: #ff4d4d;
  --rt-3: #ac9f3d;
  --rt-4: #b264ff;
  --progress-bg: #595959;

  /* borders */
  --border-grey: rgba(255, 255, 255, 0.75);
  --border-pink: rgb(236, 113, 222);
}


@font-face {
  font-family: Figtree;
  src: url(../font/figtree/Figtree-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Figtree;
  src: url(../font/figtree/Figtree-Bold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Calvino;
  src: url(../font/calvino-trial/Calvino-Grande-Regular-trial.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Calvino-Grande;
  src: url(../font/calvino-trial/Calvino-Grande-Bold-trial.ttf);
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--black);
  color: var(--white);
}

main {
  padding-inline: 1.25em;
}

h1,
h2,
h3 {
  font-family: Calvino-Grande;
}
h1 {
  font-size: clamp(32px, 1.527vw + 26px, 48px);
}
h4 {
  font-family: Figtree;
}
em {
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  font-style: normal;
  margin: 0 0.25em;
}
p {
  font-size: 1em;
  line-height: 1.5rem;
  color: var(--white);
}

.intro-main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  align-items: center;
  color: white;
  background-color: black;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 2rem;
}

.intro-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0rem;
  z-index: 100;
  position: relative;

  @media (min-width: 65rem) {
    padding: 2rem 10rem;
  }
}

.intro-buttons {
  justify-self: center;
  z-index: 100;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}